# Error-Grudge/.gitignore  ==========
# Modified version of github.com
# version for Perl projects.

# System and Editor files ===========
# Turd files created by macOS and
# GNU style backup files (emacs).

.*~
*~
.DS_Store

# Perl Module Builders ==============
# Not all of these match author's
# use of Perl module distro builders.

# Build.PL  -------------------------

!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover ----------------------

cover_db/

# Devel::NYTProf --------------------

nytprof.out

# Module::Build ---------------------

_build/
Build
Build.bat

# Module::Install -------------------

inc/

# ExtUtils::MakeMaker ---------------

/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

#==[ EOF: Error-Grudge/.gitignore ]==
